body, html {
     height: 100%;
     margin: 0;
     overflow: hidden;
     font-family: Arial, sans-serif;
     background-color: #1f1b1b; /* Updated background color */
 }
 
 .container {
     display: grid;
     grid-template-columns: 100vw 100vw;
     grid-template-rows: 100vh 100vh 100vh 100vh;
     height: 400vh; /* Four full-height rows */
     width: 200vw; /* Two full-width columns */
     overflow: hidden;
 }
 
 .box {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2em;
     transition: transform 0.5s ease;
     width: 90vw;
     height: calc(100% - 5vw);
     margin: auto;
     background-color: white; /* Background color for each box */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transform: scale(0.85); /* Start less zoomed out */
 }
 
 #box1 {
     background: lightcoral;
     grid-column: 1;
     grid-row: 1;
 }
 #box2 {
     background: lightseagreen;
     grid-column: 1;
     grid-row: 2;
 }
 #box3 {
     background: lightblue;
     grid-column: 2;
     grid-row: 2;
 }
 #box4 {
     background: lightgoldenrodyellow;
     grid-column: 2;
     grid-row: 3;
 }
 #box5 {
     background: lightpink;
     grid-column: 2;
     grid-row: 4;
 }
 
 .container, .box {
     scroll-snap-align: center;
 }
 